@keyframes wiggle {
  0% {
    -webkit-transform: rotate(10deg);
  }

  25% {
    -webkit-transform: rotate(-10deg);
  }

  50% {
    -webkit-transform: rotate(20deg);
  }

  75% {
    -webkit-transform: rotate(-5deg);
  }

  100% {
    -webkit-transform: rotate(10deg);
  }
}

.breadcrumbs,
.woocommerce .woocommerce-breadcrumb {
  color: #717171;
  margin-top: 75px;
  margin-bottom: 35px;
}

/* ----------- Breadcrumbs --------- */
.navbar-toggler span {
  width: 20px;
  border-bottom: 2px solid #717171;
  display: block;
  margin: 7px 0;
  transition: .3s ease;
}

.navbar-light .navbar-toggler {
  border: none;
  padding-left: 0;
}

.breadcrumbs__link:hover {
  font-weight: 400;
}

/* ----------- Header --------- */
.the-menu {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  background: #fff;
  transition: .2s;
}

.mobile-menu,
.mob-mini-menu {
  display: none;
}

.header-phone-number:hover svg,
.footer-contact .ft-contact-phone:first-child:hover svg {
  animation: wiggle .2s infinite;
}

/* ----------- Sticky Header --------- */
header {
  position: sticky;
  top: 0;
  z-index: 99;
}

.gray-bg {
  position: relative;
  z-index: 10;
}

.sticky-active .the-menu {
  transform: translateY(-70px);
}

#menu-opener {
  display: none;
  color: #717171;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

#menu-opener svg {
  transition: all .2s ease;
}

.sticky-active #menu-opener {
  display: block;
  text-align: center;
}

.sticky-active .the-menu.expand {
  transform: translateY(0);
}

.rotate svg {
  transform: rotate(180deg);
}

/* ------------ Background With Text Over ------------- */
.bg-styles {
  background-repeat: no-repeat;
  background-color: #4F5754;
  background-size: cover;
  background-position: center;
}

.bg-text-over .the-bg {
  height: 435px;
  width: 63%;
}

.bg-text-over .the-bg-content {
  padding: 30px 25px;
  position: absolute;
  top: 50%;
  left: 55%;
  background-color: #fff;
  transform: translateY(-50%);
  box-shadow: 0px 4px 16px 0px #0000001A;
  color: #717171;
}

.bg-text-over .the-bg-content h3 {
  margin-bottom: 20px;
}

.bg-text-over .the-bg-content h3 {
  margin-bottom: 20px;
}

.read-more-link {
  display: inline-block;
  margin-top: 25px;
  color: #0077C8;
  position: relative;
}

.read-more-link:hover,
.read-more-link:focus {
  color: #0077C8;
}

.read-more-link:hover::after {
  transform: translateX(5px);
}

.read-more-link::after {
  content: url(img/Arrow-right.png);
  position: absolute;
  right: -36px;
  top: 2px;
  transition: all .2s;
}

/* ------------ Hero ----------------*/
.hero {
  position: relative;
}

.hero-info {
  position: absolute;
  top: 70%;
  transform: translateY(-50%);
}

/* ------------ Half Text Half BG ------------- */
.hf-text-bg .bg-styles {
  height: 100%;
}

.hf-text-bg .hf-text-content h3 {
  margin-bottom: 30px;
}

.editor-styles h1,
.editor-styles h2,
.editor-styles h3,
.editor-styles h4,
.editor-styles h5,
.editor-styles h6 {
  color: #717171;
  font-size: 20px;
  margin-bottom: 25px;
}

.why-choose-list {
  width: 85%;
  margin: auto;
  padding: 30px 25px;
  background-color: #fff;
  box-shadow: 0px 4px 16px 0px #0000001A;
  margin-top: -35px;
}

.why-choose-list .col-md-6 {
  padding: 0;
  padding-bottom: 20px;
}

.why-choose-list>div:nth-child(odd) {
  padding-right: 20px;
}

.why-content .bg-styles {
  width: 28px;
  height: 25px;
  background-color: #fff;
  margin-right: 15px;
  background-size: contain;
}

.why-content p {
  margin-bottom: 0;
}


/* ----------- On sale --------- */

#product_carousel,
#product-carousel {
  margin-top: 30px;
  border-right: 1px solid #F7F7F7;
  border-left: 1px solid #F7F7F7;
}

.on-sale h2,
.popular-products h2 {
  margin-bottom: 30px;
}

.entry-summary {
  color: #717171;
  font-size: 14px;
  padding-top: 20px;
}

.entry-summary .add_to_cart_inline {
  border: none !important;
  padding: 0 !important;
  margin-bottom: 0;
}

.entry-summary .h3,
.woocommerce-loop-product__title {
  line-height: 20px;
  font-weight: 400;
  margin-bottom: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 50px;
}

.entry-summary .h3 a {
  font-weight: 400;
  font-size: 16px;
}

.woocommerce ul.products li.product .price del {
  position: absolute;
  bottom: 38px;
}

.entry-summary .price,
.woocommerce ul.products li.product .price {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.entry-summary del span,
.sale del bdi {
  text-decoration-line: line-through !important;
  opacity: .5;
  font-size: 14px !important;
  font-weight: normal !important;
  color: #717171 !important;
}

.entry-summary ins span,
.popular-products .woocommerce-Price-amount,
.woocommerce ul.products li.product .price {
  font-size: 24px;
  font-weight: 700;
  color: #0077C8;
  position: relative;
}

.woocommerce ul.products li.product .price bdi {
  position: absolute;
  bottom: 0;
}

.woocommerce a.button {
  line-height: unset;
}

.entry-summary .woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce-mini-cart__buttons.buttons .checkout,
.added_to_cart {
  display: block;
  background-color: #0077C8;
  color: #fff;
  text-align: center;
  transition: 0.3s;
}

.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover,
.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover,
.woocommerce-mini-cart__buttons.buttons .checkout:hover,
.added_to_cart:hover {
  background-color: #3F97D6;
  color: #fff;
  text-decoration: none;
}

.woocommerce a.added_to_cart {
  display: block;
  padding-top: 0;
  padding: 8px;
  border-radius: 3px;
}

.product .added {
  display: none !important;
}

.woocommerce nav.woocommerce-pagination {
  text-align: right;
}

.product-box,
.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
  padding: 20px;
  border-top: 1px solid #F7F7F7;
  border-left: 1px solid #F7F7F7;
  border-bottom: 1px solid #F7F7F7;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 436px;
}

.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
  margin: 0;
  margin-bottom: 30px;
  width: 25%;
  min-height: 425px;
}

.products li.product:nth-child(4n),
.products li.product:last-child {
  border-right: 1px solid #F7F7F7;
}

.woocommerce-loop-product__link {
  flex: 1;
}

.woocommerce ul.products li.product a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.woocommerce-loop-product__title {
  order: 1;
}

.product-img {
  border-bottom: 1px solid #F7F7F7;
}

#product_carousel .owl-item,
#product-carousel .owl-item {
  margin-right: 0 !important;
}

.product-box img,
.woocommerce ul.products li.product a img {
  width: 200px;
  height: 200px;
  object-fit: contain;
  padding-bottom: 20px;
  border-bottom: 1px solid #F7F7F7;
}

.woocommerce ul.products li.product .onsale {
  top: 20px;
  border-radius: 0;
  margin: 0;
  min-height: unset;
  min-width: unset;
  line-height: unset;
}

.woocommerce ul.products li.product .button {
  margin-top: 0 !important;
}

.woocommerce ul.products li.product .woocommerce-loop-product__title {
  margin-bottom: 15px;
}

.item-is-on,
.woocommerce ul.products li.product .onsale {
  display: block;
  background: #EA733D;
  color: #fff;
  padding: 9px;
  z-index: 10;
  position: absolute;
  right: 0;
}

#product_carousel .owl-controls,
#product-carousel .owl-controls,
#posts_carousel .owl-controls {
  position: absolute;
  top: -58px;
  right: 0;
}

#product_carousel .owl-controls .owl-prev,
#product-carousel .owl-controls .owl-prev,
.category-carousel-slide .owl-prev,
#product_brand .owl-prev,
#posts_carousel .owl-prev {
  position: absolute;
  right: 36px;
  background: url(img/prev-grey.svg) no-repeat center;
  width: 38px;
  height: 40px;
}

#product_carousel .owl-next,
#product-carousel .owl-next,
.category-carousel-slide .owl-next,
#product_brand .owl-next,
#posts_carousel .owl-next {
  background: url(img/next-grey.svg) no-repeat center;
  width: 38px;
  height: 40px;
}

#product_carousel .owl-prev,
#product_carousel .owl-next,
#product-carousel .owl-prev,
#product-carousel .owl-next,
.category-carousel-slide .owl-prev,
.category-carousel-slide .owl-next,
#product_brand .owl-prev,
#product_brand .owl-next,
#posts_carousel .owl-prev,
#posts_carousel .owl-next {
  padding: 10px 13px;
  border: 1px solid #F7F7F7
}

.woocommerce .woocommerce-ordering select {
  height: 35px;
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  padding: 0 12px;
  font-size: 14px;
  color: #767676;
}

/* ------------ Sidebar ------------- */
.product-categories .cat-item {
  margin-bottom: 15px;
}

.product-categories .children {
  margin-top: 10px;
}

.product-categories .current-cat>a {
  color: #0077C8;
  text-decoration: underline !important;
}

.brands-sidebar {
  margin-bottom: 40px;
}

aside h3 {
  color: #717171;
  font-size: 18px;
  padding-bottom: 15px;
  margin-bottom: 20px;
  border-bottom: 1px solid #F7F7F7;
}

/* ------------ Special Offers ------------- */
.wapl-flash {
  top: 20px !important;
  right: 0 !important;
  height: 35px !important;
}

.wapl-flash .product-label {
  border-radius: 0 !important;
  border: none !important;
  height: 35px !important;
  line-height: 35px !important;
}

.label-wrap {
  z-index: 10 !important;
}

/* ----------- Sidebar --------- */
.product-categories {
  list-style: none;
  padding: 0;
}

.product-categories .children {
  list-style: none;
  padding-left: 10px;
  border-left: 1px solid #E5E5E5;
}

/* ----------- Blog Page --------- */
.blog-posts [class*="col-"] {
  padding-right: 0;
}

.blog-post-box {
  margin-bottom: 30px;
}

.blog-post-box .h5 {
  margin-bottom: 0;
  padding: 25px;
  border-left: 1px solid #F7F7F7;
  border-bottom: 1px solid #F7F7F7;
  border-right: 1px solid #F7F7F7;
  line-height: 1.5em;
  height: 80px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}

.blog-post-box .blog-back-image {
  display: block;
  width: 75%;
  margin: auto;
  object-fit: contain;
}

.blog-post-box img {
  object-fit: cover;
  overflow: hidden;
  transition: 0.5s;
  height: 200px;
  width: 100%;
}

.blog-thumb {
  height: 200px;
  overflow: hidden;
  transition: 0.5s;
}

.blog-thumb:hover img {
  transform: scale(1.1);
}

.pagination-links {
  display: block;
  margin-left: auto;
}

.pagination-links .page-numbers {
  margin-right: 15px;
  color: #0077C8;
}

.pagination-links .current {
  color: #717171;
}

.hero-blog {
  margin-bottom: 70px;
}

/* ----------- Single Blog Page --------- */
.single-hero {
  display: flex;
  color: #717171;
  align-items: center;
}

.single-hero .the-bg {
  z-index: -1;
}

.single-hero-content {
  padding: 20px;
  margin-top: 75px;
}

.single-content {
  background: #fff;
  box-shadow: 0px 4px 16px 0px #0000001A;
  margin-left: 8vw;
  margin-top: -80px;
  padding: 40px 60px;
  z-index: 10;
  margin-bottom: 130px;
}

.single-content h1,
.single-content h2,
.single-content h3,
.single-content h4,
.single-content h5,
.single-content h6 {
  font-size: 18px;
  line-height: 21px;
  color: #717171;
}

#posts_carousel {
  margin-top: 30px;
}

.wp-block-image img {
  height: auto;
}

/* ----------- Single Brand Cat --------- */
.single-brand-cat .single-brand-logo {
  width: 80px;
  height: 48px;
  object-fit: contain;
  margin-right: 15px;
}

.brands-sidebar ul {
  list-style: none;
  padding-left: 0;
}

.brands-sidebar ul li {
  padding-bottom: 10px;
}

.active {
  color: #0077C8;
}

.page-template-page-brands .breadcrumbs+.row {
  margin-left: 0;
  margin-right: 0;
}

/* ----------- Single Product --------- */
.single-product .product_title,
.related.products>h2,
.up-sells>h2 {
  font-size: 24px;
  line-height: 25px;
  color: #0077C8;
  margin-bottom: 15px;
}

.single-product .product_meta>span {
  margin-right: 40px;
}

.single-product .product_meta {
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
  color: #717171;
  margin-bottom: 60px;
}

.single-product .product_meta a,
.single-product .product_meta .sku {
  font-size: 14px;
  font-weight: 400;
}

.single-product .product_meta .tagged_as,
.full-width-desc {
  display: none;
}

.single-product .entry-summary .woocommerce-Price-amount,
.single-product .entry-summary .woocommerce-Price-currencySymbol {
  font-size: 48px;
}

.woocommerce-mini-cart__empty-message {
  text-align: center;
  margin-bottom: 10px;
}

.single-product .sale del bdi,
.single-product .woocommerce-Price-currencySymbol {
  opacity: 1;
}

.woocommerce span.onsale {
  left: 0;
}

.woocommerce div.product div.images img {
  max-width: 100%;
  object-fit: contain;
}

.woocommerce #content div.product div.images,
.woocommerce div.product div.images,
.woocommerce-page #content div.product div.images,
.woocommerce-page div.product div.images {
  float: none;
  width: 100%;
}

.woocommerce div.product p.price {
  font-weight: bold;
  font-size: 48px;
  line-height: 42px;
  color: #0077C8;
  padding-bottom: 20px;
  border-bottom: 1px solid #F7F7F7;
}

.woocommerce div.product form.cart div.quantity {
  color: #717171;
  padding: 10px 5px;
  border: 1px solid #a9a9a9;
  border-radius: 3px;
  margin-right: 22px;
}

.entry-summary .cart {
  border-top: 1px solid #F7F7F7;
}

.woocommerce .quantity .qty {
  width: 2.631em;
}

.qty_button {
  border: none;
  background: #fff;
  font-weight: bold;
}

.quantity .qty {
  border: none;
}

.woocommerce button.button.alt {
  padding: 15.5px 50px;
}

.woocommerce-tabs {
  margin-top: 70px;
}

.woocommerce div.product .woocommerce-tabs ul.tabs {
  border-bottom: 1px solid #F7F7F7;
  padding-left: 0;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
  border: none;
  background-color: #fff;
  padding-bottom: 15px;
}

.woocommerce div.product .woocommerce-tabs ul.tabs::before {
  border-bottom: none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li::before {
  border: none;
  box-shadow: none;
}

.clearsome {
  margin-left: 0;
  margin-right: 0;
}

.additional-info .col-md-5,
.additional-info .col-lg-5 {
  padding-left: 0;
}

.woocommerce-tabs ul li:first-child {
  padding-left: 5px !important;
}

/* ----------- Mini Cart --------- */
.woocommerce-mini-cart {
  padding-left: 0;
}

.cart-bag .woocommerce-mini-cart-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  padding: 11px 0 !important;
  border-bottom: 1px solid;
  justify-content: space-between;
}

.woocommerce-mini-cart .remove_from_cart_button {
  flex: 1 0 5%;
}

.woocommerce ul.cart_list li a,
.woocommerce ul.product_list_widget li a {
  font-weight: 500;
  font-size: 16px;
}

woocommerce-mini-cart-item.mini_cart_item .remove_from_cart_button {
  font-size: 16px;
}

.cart-bag img {
  max-width: 92px;
  height: auto;
  margin-right: 40px;
}

.woocommerce ul.cart_list li img,
.woocommerce ul.product_list_widget li img {
  width: 92px;
  height: auto;
}

.woocommerce-mini-cart-item.mini_cart_item a:nth-child(2) {
  display: flex;
  align-items: center;
  flex: 1 0 95%;
}

.woocommerce-mini-cart__buttons,
.woocommerce-mini-cart__total {
  text-align: center;
  margin: 35px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.woocommerce-mini-cart__buttons.buttons a:first-child,
.woocommerce-mini-cart__buttons.buttons .checkout {
  padding: 14px;
  border-radius: 3px;
  width: calc(50% - 15px);
}

.woocommerce-mini-cart__buttons.buttons a:first-child {
  background-color: #fff;
  color: #767676;
  border: 1px solid #717171;
  margin-right: 15px;
}

.woocommerce-mini-cart__buttons.buttons .checkout {
  border: 1px solid #0077C8;
}

.woocommerce-mini-cart__buttons.buttons .checkout:hover {
  border: 1px solid #3F97D6;
}

.woocommerce-mini-cart__total .woocommerce-Price-amount {
  margin-left: 10px;
}

.woocommerce-mini-cart__total .woocommerce-Price-amount,
.cart-bag .quantity .woocommerce-Price-amount {
  color: #008EB3;
  font-weight: 700;
  margin-left: 10px;
}

.cart-bag .quantity {
  margin-left: 10px;
  display: flex;
  flex-basis: 100%;
  justify-content: center;
}

/* ----------- Seach Page --------- */
.search-title h3 {
  margin: 50px 0;
}

.search-results .woocommerce .woocommerce-result-count {
  position: absolute;
  top: 30px;
}

.woocommerce-account header {
  margin-bottom: 50px;
}

/* ----------- Cart Page --------- */
table.shop_table .woocommerce-cart-form__cart-item td {
  padding-top: 32px !important;
  padding-bottom: 32px !important;
}

.woocommerce-cart-form__cart-item.cart_item .woocommerce-Price-amount {
  color: #717171;
}

.related-random {
  margin-top: 80px;
}

.minus,
.plus,
.woocommerce .quantity .qty {
  color: #717171;
}

.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals {
  width: 100%;
  float: none;
  padding-left: 15px;
}

.woocommerce table.shop_table {
  border: none;
  padding-right: 45px;
}

#add_payment_method .cart-collaterals .cart_totals tr td,
#add_payment_method .cart-collaterals .cart_totals tr th,
.woocommerce-cart .cart-collaterals .cart_totals tr td,
.woocommerce-cart .cart-collaterals .cart_totals tr th,
.woocommerce-checkout .cart-collaterals .cart_totals tr td,
.woocommerce-checkout .cart-collaterals .cart_totals tr th {
  border-top: 1px solid #F7F7F7;
}

.woocommerce-cart-form {
  border-right: 1px solid #F7F7F7;
}

.woocommerce-cart h1,
.woocommerce-checkout h1,
.page-id-923 h1,
.page-id-979 h1,
.page-id-981 h1,
.page-id-9 h1,
.page-id-917 h1 {
  font-weight: bold;
  font-size: 24px;
  line-height: 25px;
  color: #0077C8;
  margin-top: 70px;
}

.label-wrap.wapl-alignright {
  text-align: right;
}

#add_payment_method table.cart img,
.woocommerce-cart table.cart img,
.woocommerce-checkout table.cart img {
  width: 35px;
}

.product-remove {
  padding-left: 0 !important;
  padding-right: 0px !important;
}

.woocommerce a.remove {
  color: #717171 !important;
  font-weight: 400;
}

.woocommerce a.remove:hover {
  color: #717171 !important;
  background: transparent;
}

.woocommerce #content table.cart td.actions .input-text,
.woocommerce table.cart td.actions .input-text,
.woocommerce-page #content table.cart td.actions .input-text,
.woocommerce-page table.cart td.actions .input-text {
  width: 187px;
  height: 44px;
  border-radius: 3px;
  text-align: center;
  margin-right: 15px !important;
}

.woocommerce table.shop_table td {
  border-top: 1px solid #F7F7F7;
}

.woocommerce table.shop_table th {
  color: #717171;
}

.woocommerce-page table.cart td.actions {
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-top: 20px;
}

.woocommerce .cart .button,
.woocommerce .cart input.button {
  padding: 14px;
}

.actions button.button {
  padding: 14px !important;
  margin-left: auto;
}

.cart_totals h2 {
  font-size: 16px;
  font-weight: bold;
  color: #717171;
  margin-top: 20px;
  border-bottom: 1px solid;
  padding-bottom: 13px;
  border-bottom: 1px solid #F7F7F7;
}

#add_payment_method .cart-collaterals .cart_totals table,
.woocommerce-cart .cart-collaterals .cart_totals table,
.woocommerce-checkout .cart-collaterals .cart_totals table {
  padding-bottom: 40px !important;
  border-bottom: 1px solid #F7F7F7 !important;
}

.woocommerce-product-details__short-description ul {
  line-height: 23px;
  padding-left: 12px;
}

.woocommerce-cart-form__contents .coupon + button {
  background: #fff !important;
  border: 1px solid #717171;
  color: #717171;
}

.woocommerce-cart-form__contents .coupon + button:hover {
  color: #717171;
}

/* ----------- Checkout Page --------- */
.woocommerce-checkout .form-row {
  display: block !important;
}

.woocommerce form .form-row input.input-text,
.woocommerce form .form-row textarea,
.select2-container--default .select2-selection--single,
.select2-dropdown,
.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #F7F7F7;
  font-size: 14px;
  color: #717171;
}

.woocommerce form .form-row input.input-text,
.woocommerce form .form-row textarea {
  padding: 14px;
}

.woocommerce-checkout .table.shop_table .product-name {
  width: unset !important;
}

.woocommerce-checkout .product-total {
  text-align: right;
}

.shop_table tbody,
.shop_table tfoot {
  color: #717171;
}

.woocommerce table.shop_table tbody th,
.woocommerce table.shop_table tfoot td,
.woocommerce table.shop_table tfoot th {
  border-top: 1px solid #F7F7F7;
}

.checkout .select2-container .select2-selection--single,
.checkout .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 47px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 47px;
}

.checkout .woocommerce-billing-fields__field-wrapper label {
  font-weight: bold;
}

/* ----------- Shipping & Delivery --------- */
.page-id-917 .dfe-tracking-field input {
  background-color: #d4d4d4 !important;
}

.page-id-917 .dfe-submit {
  border: 1px solid #000 !important;
}

/* ----------- Sale --------- */
.sale-page .block-title {
  margin-bottom: 30px;
}

/* ----------- The Process Bar --------- */
.the-process {
  background: #0077C8;
  color: #fff;
  font-weight: 700;
  padding: 22px 0;
}

.process-content {
  margin: 0 7vw;
}

.process-icon {
  background-image: url(img/Arrow-long.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  height: 16px;
  width: 26px;
}

/* ----------- Contact Us --------- */
.contact-form {
  margin-bottom: 70px;
}

.contact-form .frm_style_formidable-style.with_frm_style .form-field {
  display: flex;
  flex-wrap: wrap;
}

.contact-form .with_frm_style .frm_inline_container .frm_primary_label {
  width: 20% !important;
  display: inline-block !important;
}

.contact-form .frm_full input:not([type='checkbox']):not([type='radio']):not([type='button']),
.contact-form .with_frm_style input[type=tel],
.contact-form .with_frm_style input[type=number],
.contact-form .frm_full textarea {
  width: 77% !important;
  display: inline-block;
}

.frm_style_formidable-style.with_frm_style .frm_error {
  display: block;
  width: 100%;
  margin-left: 22%;
}

.contact-form .with_frm_style .frm_submit {
  text-align: right;
}

#frm_field_6_container {
  justify-content: flex-end;
}

.footer-contact .ft-contact-phone,
.contact-info .ft-contact-phone,
.page-template-page-contact .block-title {
  display: block;
  margin-bottom: 20px;
}

.page-template-page-contact .tracking,
.page-template-page-contact footer {
  margin: 0;
}

.social-links {
  margin-left: 17%;
}

.social-links i {
  color: #fff;
  font-size: 22px;
  background: #0077C8;
  border-radius: 3px;
  padding: 6px 11px;
  margin-right: 10px;
}

/* Large desktops and laptops */
@media (min-width: 1230px) {
  .container {
    width: 1200px;
  }
}

@media (max-width: 1229px) {

  /*** BG Text Over ***/
  .bg-text-over .the-bg-content {
    position: relative;
    top: unset;
    left: unset;
    transform: translateY(-10%);
    width: 90%;
    margin: 0 auto;
  }

  .bg-text-over .the-bg {
    width: 100%;
    height: 210px;
  }

  .the-bg-content .read-more-link {
    margin-top: 0;
  }
}

@media (min-width: 1200px) {}

@media (max-width: 1199px) {
  footer .footer-contact .flex-container {
    flex-wrap: nowrap;
  }

  .single-content {
    margin-top: -20px;
  }

  .single-hero-content {
    margin-top: 0;
  }

  .hero-info {
    left: 10%;
  }
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 992px) {
  .main-menu>.menu-item:nth-child(2) {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  section:not(.hero) {
    margin: 50px 0;
  }

  /*** Header ***/
  .header-phone {
    display: none;
  }

  .main-header .search .search-bar {
    width: unset;
  }

  header .sub-menu {
    display: none;
  }

  .main-menu {
    justify-content: space-between;
  }

  .main-nav nav {
    width: 100%;
  }

  .main-menu>.menu-item {
    margin-left: 0;
  }

  /*** Products ***/
  .woocommerce ul.products li.product,
  .woocommerce-page ul.products li.product {
    width: 50%;
  }

  .woocommerce ul.products li.product,
  .woocommerce-page ul.products li.product {
    border-right: 1px solid #F7F7F7;
  }

  .woocommerce ul.products[class*=columns-] li.product,
  .woocommerce-page ul.products[class*=columns-] li.product {
    margin-bottom: 30px;
  }

  /*** Single Product ***/
  .half-width-desc {
    display: none;
  }

  .full-width-desc {
    display: block;
  }

  .woocommerce-tabs {
    margin-top: 30px;
  }

  /*** Hero Slider ***/
  .hero-slide .owl-next,
  .hero-slide .owl-prev {
    width: 25px;
    height: 25px;
  }

  .hero-slide .owl-prev {
    left: 25px;
  }

  .hero-slide .owl-next {
    right: 25px;
  }

  .hero-slide .item {
    height: 35vh;
  }

  /*** Copyright Bar ***/
  .copy-info {
    text-align: center;
    margin-top: 15px;
  }

  .copy-info,
  .copy-info a,
  .ft-menu.footer-menu-3 .menu-item a {
    font-size: 10px;
  }

  .bottom-bar .row {
    flex-direction: column-reverse;
  }

  .bottom-bar .col-md-6 {
    max-width: 100%;
  }

  /*** Single Blog ***/
  .single-hero {
    margin-top: 20px;
  }

  .single-hero-content {
    padding-top: 10px;
  }

  .single-content {
    padding: 20px 30px;

  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {}

@media (min-width: 768px) {
  .woocommerce-cart table.shop_table .product-name {
    width: 40%;
    padding-right: 30px !important;
  }

  .woocommerce-cart .product-quantity .quantity {
    padding: 10px 5px;
    width: 110px;
    border-radius: 3px;
    border: 1px solid #F7F7F7;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .container {
    max-width: 700px;
  }

  /*TYPOGRAPHY*/
  h1,
  .h1 {
    font-size: 40px;
  }

  h2,
  .h2 {
    font-size: 30px;
  }

  h3,
  .h3,
  h4,
  .h4 {
    font-size: 20px;
  }

  h5,
  .h5,
  h6,
  .h6 {
    font-size: 16px;
  }

  p {
    font-size: 14px;
  }

  .main-header .search .search-bar {
    width: 100%;
    padding: 6px 22px;
  }

  /*** Half Text Half BG ***/
  .hf-text-bg .row {
    flex-direction: column-reverse;
  }

  .hf-text-bg .bg-styles {
    height: 290px;
    margin-bottom: 15px;
  }

  /*** Traking Section ***/
  .tracking .d-flex {
    flex-direction: column;
    align-items: center;
  }

  .tracking .dfe-tracking-field {
    width: 100%;
    justify-content: center;
  }

  .dfe-submit {
    margin-left: 30px;
  }

  .tracking-bl-title {
    margin-bottom: 6px;
  }

  .tracking {
    padding: 10px 0;
  }

  /*** Mini Cart ***/
  .cart-bag {
    right: 0;
    width: 365px;
  }

  .cart-bag img {
    max-width: 50px;
    height: auto;
    margin-right: 35px;
    margin-left: 10px;
  }

  /*** Products ***/
  .product-box img,
  .woocommerce ul.products li.product a img {
    align-self: center;
  }

  .flex-sm-row,
  .sale-page .row {
    flex-direction: column-reverse !important;
  }

  /*** Footer ***/
  footer .footer-logo {
    order: 1;
  }

  footer .footer-menu-section-1 {
    order: 2;
  }

  footer .footer-menu-section-2 {
    order: 4;
  }

  footer .footer-contact {
    order: 3;
  }
}

@media (max-width: 663px) {
  .search {
    order: 1;
    flex-basis: 100%;
    margin-top: 10px;
  }

  .main-header .search .search-bar {
    width: 100%;
  }
}

header .current_page_item {
  position: relative;
}

@media (min-width: 545px) {
  header .current_page_item::after {
    content: "";
    position: absolute;
    bottom: -22px;
    left: 0;
    right: 0;
    height: 0.5em;
    border-top: 6px solid #717171;
  }
}

/* Landscape phones and smaller */
@media (max-width: 544px) {

  /*TYPOGRAPHY*/
  h1,
  .h1 {
    font-size: 30px;
  }

  h2,
  .h2 {
    font-size: 24px;
  }

  h3,
  .h3,
  h4,
  .h4 {
    font-size: 18px;
  }

  /*** Header ***/
  .main-header {
    padding: 10px 20px;
  }

  .site-logo {
    width: 135px;
  }

  .feather-user,
  .feather-shopping-cart {
    width: 25px;
  }

  .login-icon {
    padding-right: 15px;
  }

  .mobile-menu,
  .mob-mini-menu {
    display: block;
  }

  .desktop-menu,
  .mini-shop-menu,
  .sticky-active #menu-opener,
  .spec-parent .bg-styles {
    display: none;
  }

  .tracking .dfe-tracking-field {
    width: 100%;
  }

  .main-header .search .search-submit {
    width: 35px;
    height: 25px;
    background-size: contain;
  }

  .note-block svg {
    width: 12px;
  }

  .notification p span {
    padding-left: 10px;
    font-size: 10px;
  }

  .close-note {
    top: 5px;
    font-size: 14px;
  }

  .spec-item-description {
    font-size: 12px;
  }

  .navbar-collapse {
    position: absolute;
    top: 110px;
    left: 0;
    z-index: 99;
    width: 100%;
    background-color: #F7F7F7;
    box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
    max-height: 80vh;
    overflow-y: scroll;
  }

  .main-menu {
    flex-direction: column;
    padding: 20px 19px;
  }

  .main-menu>li>a {
    padding: 11px 0;
    display: block;
  }

  .navbar-collapse>ul>li {
    border-bottom: 1px solid #e5e5e5;
  }

  .menu-item-has-children>a::after {
    right: 0;
    top: unset;
  }

  .sub-menu {
    border: none;
    box-shadow: none;
    position: relative;
    top: 0;
    width: unset;
    background: #F7F7F7;
  }

  .change .burger-one {
    -webkit-transform: rotate(-45deg) translate(-8px, 8px);
    transform: rotate(-45deg) translate(-8px, 8px);
  }

  .change .burger-three {
    -webkit-transform: rotate(45deg) translate(-8px, -9px);
    transform: rotate(45deg) translate(-4px, -5px);
  }

  .change .burger-two {
    opacity: 0;
  }

  header {
    top: -1px;
    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.1);
  }

  /*** Hero ***/
  .hero-slide .item {
    height: 300px;
  }

  .hero-info {
    position: absolute;
    bottom: 25px;
    left: 25px;
  }

  .hero-info .btn-white {
    margin-top: 0;
    padding: 8px 33px;
  }

  /*** Carousel ***/
  #product_carousel .owl-controls,
  #product-carousel .owl-controls,
  #posts_carousel .owl-controls,
  .category-carousel .owl-controls {
    top: -52px;
  }

  .on-sale .view-all-cat,
  .popular-products .view-all-cat,
  .more-blogs .view-all-cat,
  .category-carousel .view-all-cat {
    top: 5px;
    right: 93px;
    font-size: 12px;
  }

  #product_carousel .owl-next,
  #product-carousel .owl-next,
  .category-carousel-slide .owl-next,
  #product_brand .owl-next,
  #posts_carousel .owl-next,
  #product_carousel .owl-controls .owl-prev,
  #product-carousel .owl-controls .owl-prev,
  .category-carousel-slide .owl-prev,
  #product_brand .owl-prev,
  #posts_carousel .owl-prev {
    width: 25px;
    height: 25px;
  }

  .product-box,
  .woocommerce ul.products li.product,
  .woocommerce-page ul.products li.product {
    min-height: 415px;
  }

  .entry-summary .h3,
  .woocommerce-loop-product__title {
    height: 45px;
  }

  .breadcrumbs,
  .woocommerce .woocommerce-breadcrumb {
    margin-bottom: 0;
    margin-top: 50px;
  }

  /*** Traking Section ***/
  .dfe-submit {
    margin: 0;
    margin-left: 20px;
  }

  /*** Single Blog ***/
  .single-hero {
    display: unset;
  }

  .single-hero-content {
    padding: 0;
    margin-top: 10px;
  }

  .single-content {
    padding: 0;
    margin-left: 0;
    margin-top: 20px;
    box-shadow: none;
  }

  .bg-text-over .the-bg {
    height: 225px;
    margin-top: 20px;
  }
}


@media (max-width: 480px) {
  .categories .item {
    max-width: 190px;
  }

  .top-right-icons {
    margin-right: 10px;
  }

  .breadcrumbs,
  .woocommerce .woocommerce-breadcrumb {
    font-size: 14px;
  }
}

@media (max-width: 411px) {
  .categories .item {
    text-align: center;
    max-width: 189px;
    width: 100%;
    margin-top: 43px;
    padding: 0;
  }
}

@media (max-width: 402px) {

  .woocommerce .woocommerce-ordering,
  .woocommerce-page .woocommerce-ordering {
    float: none;
  }

  .cart-bag {
    width: 300px;
  }

  .categories .item {
    max-width: 167px;
  }
}

@media (max-width: 360px) {
  .categories .item {
    max-width: 164px;
  }
}
