/*
 THEME NAME: DigiTheme
 AUTHOR: Digilite Web Solutions
 VERSION: 3.0
 */

/*FONTS*/


@font-face {
	font-family: 'robotobold';
	src: url('fonts/roboto-bold-webfont.woff') format('woff2'),
		url('fonts/roboto-bold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'robotolight';
	src: url('fonts/roboto-light-webfont.woff2') format('woff2'),
		url('fonts/roboto-light-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'robotomedium';
	src: url('fonts/roboto-medium-webfont.woff2') format('woff2'),
		url('fonts/roboto-medium-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/*DEFAULT CSS*/

* {
	outline: none !important;
	text-decoration: none !important;
}

body {
	min-height: 100vh;
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.2;
  color: #717171;
	position: relative;
	font-family: 'Roboto', sans-serif;
}

a,
a:hover,
a:focus {
	color: #717171;
	font-weight: 500;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
}

.transition {
	transition: .5s;
}

.relative-parent {
	position: relative;
}

.absolute-bottom {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
}

.absolute {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 20;
}

.alpha {
	padding-left: 0;
}

.omega {
	padding-right: 0;
}

.page-404 {
	padding-top: 40px;
	padding-bottom: 40px;
}

.alignnone {
	margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
	display: block;
	margin: 0 auto;
}

.alignright {
	float: right;
	margin: 5px 0 20px 20px;
}

.alignleft {
	float: left;
	margin: 5px 20px 20px 0;
}

a img.alignright {
	float: right;
	margin: 5px 0 20px 20px;
}

a img.alignnone {
	margin: 5px 20px 20px 0;
}

a img.alignleft {
	float: left;
	margin: 5px 20px 20px 0;
}

a img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption {
	max-width: 100%;
	text-align: center;
}

.wp-caption.alignnone {
	margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
	margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
	margin: 5px 0 20px 20px;
}

.wp-caption img {
	border: 0 none;
	height: auto;
	margin: 0;
	max-width: 98.5%;
	padding: 0;
	width: auto;
}

.wp-caption p.wp-caption-text {
	font-size: 13px;
	line-height: 20px;
	margin: 0;
	padding: 6px 0px 5px;
	text-align: left;
}

/*TYPOGRAPHY*/
h1,
.h1 {
	font-size: 48px;
	font-weight: 700;
}

h2,
.h2 {
	font-size: 32px;
	font-weight: 500;
}

h3,
.h3 {
	font-size: 24px;
	font-weight: 500;
}

h4,
.h4 {
	font-size: 20px;
	font-weight: 500;
}

h5,
.h5 {
	font-size: 18px;
	font-weight: 700;
}

h6,
.h6 {
	font-size: 16px;
	font-weight: 500;
}

p {
	line-height: 21px;
}

.ps {
	font-size: 14px;
	line-height: 19px;
}

input,
select,
textarea {
	font-size: 18px;
}

/*
.container,
[class*="col-"] {
	padding-left: 12px;
	padding-right: 12px;
} */

/*MAIN CSS*/
.header-items {
	justify-content: space-between;
}

.cover {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

section:not(.hero) {
	margin: 70px 0;
}


/* ------------ Header ------------- */

.main-header {
	justify-content: space-between;
  align-items: center;
	padding: 30px 15px;
}

.gray-bg {
	background: #F7F7F7;
}

/* ---- Notification ---- */

.notification {
	background-color: #0077C8;
	padding: 14px 0;
}

.note-block {
	position: relative;
}

.notification p {
	color: #fff;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	margin-bottom: 0;
}

.notification p span {
	padding-left: 20px;
}

.close-note {
	position: absolute;
	right: 0;
	top: 0px;
	font-size: 20px;
	color: #fff;
	cursor: pointer;
}

/* ---- Search bar ---- */

#search {
	position: relative;
}

.header-items .search {
	display: flex;
}

.main-header .search .search-bar {
	width: 564px;
	border: 1px solid #717171;
	padding: 11px 24px;
}

.main-header .search .search-submit {
	background: url(img/search.svg) no-repeat center center;
	border: none;
	width: 40px;
	height: 40px;
	position: absolute;
	right: 10px;
}

/* ---- Right icons ---- */

.cart {
	position: relative;
  cursor: pointer;
}

.cart-contents {
  position: absolute;
  background-color: #0077C8;
  width: 21px;
  height: 21px;
  text-align: center;
  font-size: 12px;
  padding: 1px;
  line-height: 22px;
  font-weight: bold;
  border-radius: 100%;
  top: 1px;
  color: #fff;
  right: -12px;
}

.top-right-icons {
	align-items: center;
}

.feather-user,
.feather-shopping-cart {
	width: 30px;
	height: auto;
	color: #717171;
}

.login-icon {
	padding-right: 25px;
}

.cart {
	position: relative;
	padding: 10px 0;
}

.cart-bag {
	display: none;
	width: 420px;
	z-index: 1000;
	position: absolute;
	color: #ccc;
	background: #FFFFFF;
	border: 1px solid #E5E5E5;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
	border-radius: 5px;
	padding: 5px 14px;
	margin-top: 14px;
	right: -30px;
	overflow: auto;
	max-height: 500px;
	top: 35px;
	padding-top: 15px;
}

.cart:hover .cart-bag {
	display: block;
}

.cart-bag::-webkit-scrollbar-thumb {
	background-color: #0077C8;
	outline: 1px solid #708090;
}

/* ---- Header menu ---- */

.main-nav {
	justify-content: space-between;
	align-items: center;
}

.main-menu {
	margin-bottom: 0;
	padding: 20px 0;
}

.main-menu .menu-item {
	list-style-type: none;
	padding: 5px 0;
}

.main-menu>.menu-item:first-child {
	margin-left: 0;
}

.main-menu>.menu-item {
	margin-left: 57px;
}

.menu-item-has-children {
	position: relative;
}

.menu-item-has-children>a::after {
	background-image: url(img/chevron-right.svg);
	content: "";
	height: 25px;
	position: absolute;
	right: -25px;
	top: 3px;
	cursor: pointer;
	font-size: 24px;
	width: 25px;
}

.menu-item-has-children:hover .sub-menu {
	visibility: visible;
	opacity: 1;
}

.sub-menu {
	position: absolute;
	top: 30px;
	z-index: 99999;
	width: 270px;
	background: #fff;
	padding: 15px 20px;
	list-style: none;
	box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
	border: 0.5px solid #E5E5E5;
	border-radius: 5px;
}

.header-phone-number span {
	font-size: 18px;
	padding-left: 16px;
}

/* ------------ Hero ----------------*/

.hero-slide .item {
	height: 25vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hero-slide .owl-next,
.hero-slide .owl-prev {
	position: absolute;
	top: 50%;
	padding: 5px;
	width: 32px;
	height: 32px;
  transform: translateY(-50%);
}

.hero-slide .owl-next {
	right: 50px;
  background: url(img/next.svg) no-repeat center;
  background-color: #fff;
}

.hero-slide .owl-prev {
	left: 50px;
  background: url(img/prev.svg) no-repeat center;
  background-color: #fff;
}

.slide-title {
	color: #fff;
}

.btn-white {
	background-color: #fff;
	font-size: 16px;
	color: #717171;
	font-weight: 700;
	border-radius: 0;
	padding: 10px 40px;
	margin-top: 20px;
}

.specification {
	padding: 12px 0;
  box-shadow: 0px 4px 5px 0px #0000001A;
  background: #F7F7F7;
  position: relative;
  z-index: 999;
}

.spec-item {
  display: flex;
  align-items: center;
}

.spec-item:hover .bg-styles {
  transform: scale(1.1);
}

.spec-item .bg-styles {
  width: 28px;
  height: 25px;
  background-color: transparent;
  margin-right: 15px;
  background-size: contain;
  transition: all .2s;
}

.spec-item-description {
	font-size: 14px;
	font-weight: 700;
	color: #717171;
	margin-bottom: 0;
}

.spec-parent {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

/* ------------ Footer ------------- */
footer {
	background: #F7F7F7;
  margin-top: 70px;
}

.ft-menu {
	padding-left: 0;
}

.footer-main {
	padding: 50px 0;
}

.ft-menu .menu-item {
	list-style-type: none;
	padding-top: 13px;
}

.ft-menu .menu-item:first-child {
	padding-top: 0;
}

.ft-menu .menu-item a {
	font-size: 18px;
	font-weight: 400;
}

.contact-info svg,
.footer-contact svg {
	color: #0077C8;
}

.ft-contact-address {
	padding-left: 20px;
	font-weight: 500;
	line-height: 23px;
}

footer a,
footer span,
footer .ft-contact-phone span {
  font-weight: 400;
}

.ft-contact-phone span {
	padding-left: 20px;
	font-weight: 500;
}

.bottom-bar {
	background-color: #0077C8;
	padding: 10px 0;
}

.copy-info {
	font-size: 14px;
	color: #fff;
	margin-bottom: 0;
}

.copy-info a {
	color: #fff;
	font-weight: 400;
}

.ft-menu.footer-menu-3 {
	margin-bottom: 0;
	justify-content: space-between;
}

.ft-menu.footer-menu-3 .menu-item {
	padding-top: 0;
}

.ft-menu.footer-menu-3 .menu-item a {
	font-size: 16px;
	font-weight: 400;
	color: #fff;
}


/* ------------ Category carousel ------------- */

.category-carousel {
	margin-top: 70px;
}

.category-carousel .cat-title,
.categories .cat-title {
	font-weight: 700;
  min-height: 56px;
	padding: 0 19px;
	display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #F7F7F7;
}

.category-carousel .item,
.categories .item {
	text-align: center;
  border: 1px solid #F7F7F7;
}

.cat-thumb-image {
	height: 205px !important;
	object-fit: contain;
}

.category-carousel .owl-controls {
	position: absolute;
	top: -58px;
	right: 0;
}

.category-carousel .owl-controls .owl-prev {
	position: absolute;
	/* right: 30px; */
}

.category-carousel .view-all-cat {
	position: absolute;
	top: 13px;
	right: 110px;
	color: #717171;
	font-weight: 400;
}

.on-sale .view-all-cat,
.popular-products .view-all-cat,
.more-blogs .view-all-cat {
	position: absolute;
    top: 13px;
    right: 110px;
    color: #717171;
    font-weight: 400;
}

.block-title {
	color: #0077C8;
	font-weight: 500;
  margin-bottom: 30px;
}

.category-carousel-slide {
	margin-top: 30px;
}


/* -------- Tracking -------- */

.tracking {
	background-color: #0077C8;
	padding: 20px 0;
	margin-top: 70px;
}

.tracking .dfe-tracking-field {
	padding: 0 0;
	margin-bottom: 0;
	max-width: 100%;
	width: 40%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.tracking .dfe-track-input {
	width: 300px;
	border: none !important;
	padding: 8px 20px;
}

.dfe-submit {
	padding: 6px 35px;
	color: #717171 !important;
	font-size: 15px;
}

.dfe-submit:hover,
.dfe-submit:focus {
	/* font-weight: unset; */
	font-size: 15px;
  font-weight: 500;
}

.tracking-bl-title {
	display: flex;
	justify-content: center;
	flex-direction: column;
	color: #fff;
}

.tracking-bl-title p {
	margin-bottom: 0;
	color: #fff;
}

.tracking-bl-title .fas {
	padding-right: 20px;
}

.tracking .dfe-title {
	display: none;
}

.tracking .dfe_notice {
	display: none;
}

/* --------- Shop by category ---------- */

.categories .item {
	text-align: center;
	max-width: 204px;
  width: 100%;
	margin-top: 43px;
  padding: 0;
}

.categories .cat-thumb .cat-thumb-image {
	object-fit: contain;
	width: 100%;
}

#load_more_category {
	text-align: center;
    margin-top: 42px;
    color: #0077C8;
    cursor: pointer;
}

/* --------- Breadcrumbs ---------- */

.breadcrumbs__link {
	font-weight: 400;
}

.breadcrumbs__current {
	font-weight: 700;
}



/* Large desktops and laptops */
@media (min-width: 1230px) {
	.container {
		width: 1200px;
	}
}

@media (min-width: 1200px) {}

@media (max-width: 1199px) {}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 992px) {
	header .sub-menu {
		visibility: hidden;
		opacity: 0;
		transition: .3s;
	}

}

@media (max-width: 991px) {}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {}

/* Landscape phones and smaller */
@media (max-width: 544px) {}

@media (max-width: 480px) {}
